TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_API_BASE=
TELEGRAM_PROXY=

WINDOWS_SOURCE_APP=spotify
WINDOWS_POLL_INTERVAL=3

POLL_INTERVAL=30
SHOW_NOT_PLAYING=true

MESSAGE_TEMPLATE=🎶 <b>Сейчас играет</b>\n\n<b>{title}</b>\n👤 <i>{artists}</i>\n💿 <i>{album}</i>\n\n────────────\n▶️ <b>{status}</b> · {progress_bar}\n<code>⏱ {progress} · {duration}</code>\n{url}
